body{
  font-family: 'Montserrat', sans-serif;
}

#title{
  background-color:rgb(23, 23, 23);/*rgb(145, 180, 214);*/
  position: relative;
}

.container-fluid{
  padding: 3% 3% 18%;
}

h1{
  font-family: 'Fasthand', cursive;
  font-size: 6rem;
  line-height: 1.5;
  color:white;
  margin-top: 30px;
  text-align: center;
  padding: 8%;
}

.intro{
  font-family: 'Kalnia', serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color:white;
  text-align: center;
}

.intro-part-two{
  font-family:'Kalnia', serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color:black;
  text-align: center;
  font-weight: bold;
}

.con-fluid{
  padding: 8% 3% 0%;
}

h2{
  color:#434242;
  font-family: 'Fasthand', cursive;
  font-size: 3rem;
  font-weight: bold;
}

.better{
  font-family: 'Kalnia', serif;
  font-weight: bold;
}
/*Navbar Section*/
.navbar{
  padding: 0 0 3rem;
}
.navbar-brand{
  color: white;
  font-size: 2rem;
  font-family: 'Fasthand', cursive;
}

.nav-item{
  padding: 0 4px;
}

.nav-link{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
  z-index: 2;
  position: absolute;
}

/*---------------------------------FRONT PAGE SECTIONS*/

/*Section Titles*/

.section-container{
  margin: 10% 0% 0% 0%;
}

h3{
  margin-left: 0;
  padding: 0%;
  color:white;
}


/*Media Section*/

.s-container{
  padding: 0% 1% 0% 1%;
  /*padding: 0% 70% 0% 0%;
  width: 80%;
  height: 600px;*/
  background-color:rgb(23, 23, 23); 
  z-index: 1;
  /*margin-right: 70%;*/
  position:relative;
  overflow:hidden;
}

.the-btn{
  padding: 0%;
  margin: 0%;
/*  margin-top: -407.5px; */
  height: 600px;
  width:3rem;
  color:rgb(23, 23, 23);
  background-color: white;
  z-index: 2;
  border-radius: 0;
  border-color: white; 
}

.med-font{
  font-size: 4rem;
  font-family: 'Fredericka the Great', serif;
}

.back-video{
  position:absolute;
  top:0;
  right:0;
  width: 100%;
  overflow:hidden;
  z-index:-1;
}

/*Computing Section*/
.computing-section-container{
  padding: 0% 1% 0% 1%;
  /*padding: 0% 70% 0% 0%;
  width: 80%;
  height: 600px;*/
  background-color:rgb(126, 151, 177); 
  z-index: 1;
  /*margin-right: 70%;*/

}

.comp-font{
  font-family: 'Wallpoet', sans-serif;
  font-size: 4rem;
}

.comp-title{
  font-size:3rem;

}

/*Contact Section*/
#contact{
  padding: 20%;
  text-align: center;
}


/*---------------------------------OTHER PAGES*/

/* Other pages */
.card-titles{
  color:white;
  font-size: 3rem;
  font-family: 'Fasthand', cursive;
}

.top-container{
  padding: 3% 3% 0%;
}

/*---------------------------------------------Media Page*/

#sd-carousel{
  text-align: center;
  background-color:rgb(176, 55, 55);
}

.sd-color{
  background-color:rgb(176, 55, 55);
}

#photography-carousel{
  text-align: center;
  background-color: rgb(137, 21, 21);
}

.photography-color{
  background-color: rgb(137, 21, 21);
}

#film-carousel{
  text-align: center;
  background-color: rgb(107, 26, 26);
}

.film-color{
  background-color: rgb(107, 26, 26);
}

.art-descip{
  color:white;
}

.im{
  height:400px;
  width:auto; 
  margin:15px;
}

.carousel-item{
  padding: 1% 15% 4% 15%;
}

.car-title{
  font-size: 2rem;
  color:white;
  font-family: 'Fredericka the Great', serif;
  padding: 2% 0% 0% 0%;
  margin: 0%;
}

.new{
  margin: 10% 0% 0% 0%;
}

h5{
  font-style:italic;
  color:white;
}

.see-more{
  font-family: 'Kalnia', serif;
  color:white;
  font-weight:bold;
}

.ytvid{
  width: 711px;
  height: 400px;
}

/*------------------------------------------------Computing Page*/

.btn-outline-info{
  align-items:flex-end;
}

.comp-page-font{
  font-family: 'Wallpoet', sans-serif;
  color:darkslateblue;
}

.skills-font{
  font-family: 'Wallpoet', sans-serif;
  color:black;
  text-align: center;
  font-size:3rem;
}

.comp{
  font-family: 'Roboto Mono', monospace;
  background-color:rgb(43, 43, 87);
  color:white;
}

.wi{
  width:500px;
}

.hi{
  height:100px;
}

.center{
  text-align: center;
}

#comput-type{
  padding: 100px;
  text-align: center;
}

/*Art Section*/

#art-type{
  padding: 100px;
  text-align: center;
}

.section-header{
  color: #000;
}

.art-type-column{
  padding: 3% 2%;
}

.a-type{
  color: black;
  background-color: rgb(195, 250, 223);
}


/*Footer Section*/

#footer{
  padding:7% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}

/*Media Queries*/

@media (max-width: 576px){ 

  .the-btn{
    padding: 0%;
    height: 60px;
    width: 50px;
  }

  .comp-title{
    font-size: 2.5rem;
  }

  .med-font{
    font-size: 2.5rem;
  }

  .comp-font{
    font-size: 2.5rem;
  }

  #comput-type{
    padding: 20px;
    text-align: center;
  }
  #art-type{
    padding: 20px;
    text-align: center;
  }

}

@media (max-width: 1280px){ 

  .card-titles{
    font-size: 2rem;
  }
}

@media (max-width: 1100px){ 

  .im{
    width: auto;
    height: 250px;
  }

  .ytvid{
    width: 400px;
    height: 225px;
  }
}

@media (max-width: 800px){

  .wi{
    width:400px;
  }

}

@media (max-width: 700px){

  .wi{
    width:300px;
  }

}


@media (max-width: 600px){ 

  .im{
    width: 235px;
    height:auto;
  }

  .ytvid{
    width: 235px;
    height: auto;
  }

  .intro-part-two{
    font-size:1rem;
  }

  .hi{
    padding-bottom:10%;
  }
}


@media(min-aspect-ratio: 16/9){
  .back-video{
    width:100%;
    height:auto;
  }
}

@media(max-aspect-ratio: 16/9){
  .back-video{
    width:auto;
    height:100%;
  }
}
